.btn-blue {
    cursor: pointer;
    background-color: #20945c;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    width: 5rem;
    border: none;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
  }
  .title {
    text-align: center;
    border: 2px solid blue;
  }
  